#nbs{
    float: right;
    padding-top: 420px;
    opacity: 0.9; 
    position: relative;
    left: 120px;
}

#nbs a{
    text-decoration: none;
}

#nbs_p{
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 800;
}
#nbs_date_p{
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

#nbs_tab{
    background: rgba(255,255,255,0.5);
    border: none;
    
}
