body {
    background: rgb(204,204,204); 
    font-family: "Montserrat", sans-serif;
}
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
}
page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;  
}
page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
}
page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;  
}
page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
}
page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;  
}
@media print {
    body, page {
        margin: 0;
        box-shadow: 0;
    }
}

#logo{
    float: left;
    margin-left: 60px;
    margin-top: 43px;
}

#companyData{
    float: right;
    margin-right: 50px;
    margin-top: 40px;
    font-size: 14px;
        
}

#underLogo{
    float: left;
    margin-left: 50px;
    margin-top: 97px;
    position: absolute;
    font-size: 11px;
    font-weight: 600;
    
}

#invoiceNumber{
    float: left;
    margin-top: 190px;
    margin-left: 50px;
}

#dateUser{
    position: absolute;
    margin-top: 335px;
    margin-left: 50px;
    
    
}

#clientData{
    float: right;
    margin-top: 106px;
    margin-right: 50px;
    border: 1px solid black;
    height: 100px;
    width: 240px;
    padding: 30px;
}

#pricelist{
    float: left;
    margin-left: 50px;
    margin-top: 100px;
}

#pricelist> table{
    border-collapse: collapse;
}

#pricelist> table>tr, td{
    border: 1px solid black;
}

#star{
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

#invoiced{
    position: absolute;
    top: 900px; 
    margin-left: 520px;
    border-bottom: 1px solid black;
    height: 70px;
    width: 200px;
    text-align: center;
}

#underInvoiced{
    position: absolute;
    top: 953px; 
    margin-left: 520px;
    text-align: center;
    
}
