body{
    font-family: "Montserrat", sans-serif;
    background-image: url("../img/background_beach_1920x1920.jpg" );
    /*background-size: 100%;*/
    background-repeat: repeat-y;    
}

#input_da {
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    padding-bottom: 0px;
    width: 720px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}

#input_text_da {
    width: 37%;
    padding: 8px;
    margin-left: 20px;
    margin-right: 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;  
}

#input_submit_da {
    width: 28%;
    background-color: #9bbfdd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#input_submit_da:hover {
    background-color: #3b78ab;
}

#cruiserInput_p{
    font-size: 12px;
    font-weight: 600;
}

/*---input^^^---*/
#all_wrapper{
   height: 1400px; 
}

#cruiser_wrapper{
    background-image: url("../img/cruise_schema_transparent_whiteText.png");
    background-size: 800px;
    background-repeat: no-repeat;
    width: 800px;
    height: 1000px;
    position: absolute;
    left: 50%;
    top: 240px;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    font-size: 11px;
    font-weight: 400;
  
}

#underline{
    text-decoration: none;
    
}

#underline:link, #underline:visited{
    color: black;
}


#tab_3f_1{
    float: left;
    margin-left: 15px;
    margin-top: 174px;
}

#field_3f_1free{
    background-color: #f1b774;
    height: 15.25px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#field_3f_1reserved{
    background-color: #cccccc;
    height: 15.25px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;  
    display: flex;
    justify-content: center;
    align-items: center;
}




#tab_3f_2{
    float: left;
    margin-left: 32px;
    margin-top: 243px;
}

#field_3f_2free{
    background-color: #f1b774;
    height: 15.25px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#field_3f_2reserved{
    background-color: #cccccc;
    height: 15.25px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
}




#tab_4f_1{
    float: left;
    margin-left: 25px;
    margin-top: 169px; 
}
 
#field_4f_1free{
    background-color: #ded754;
    height: 21.9px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#field_4f_1reserved{
    background-color: #cccccc;
    height: 21.9px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}




#tab_4f_2{
    float: left;
    margin-left: 31px;
    margin-top: 169px;
    
}

#field_4f_2free{
    background-color: #ded754;
    height: 21.9px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#field_4f_2reserved{
    background-color: #cccccc;
    height: 21.9px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}




#tab_4f_3{
    float: left;
    top: 311px;
    position: relative;
    left: -87px; 
}

#field_4f_3free{
    background-color: #ded754;
    height: 21.3px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#field_4f_3reserved{
    background-color: #cccccc;
    height: 21.3px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}




#tab_4f_4{
    float: left;
    top: 311px;
    position: relative;
    left: -56px;
}

#field_4f_4free{
    background-color: #ded754;
    height: 21.3px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#field_4f_4reserved{
    background-color: #cccccc;
    height: 21.3px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;  
    display: flex;
    justify-content: center;
    align-items: center;
}




#tab_6f_1{
    float: left;
    margin-left: 75px;
    margin-top: 140px;
}

#field_6f_1free{
    background-color: #989ccd;
    height: 28.3px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#field_6f_1reserved{
    background-color: #cccccc;
    height: 28.3px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;  
    display: flex;
    justify-content: center;
    align-items: center;
}




#tab_6f_2{
    float: left;
    margin-left: 39px;
    margin-top: 140px; 
}

#field_6f_2free{
    background-color: #989ccd;
    height: 28.3px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#field_6f_2reserved{
    background-color: #cccccc;
    height: 28.3px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
}




#tab_7f_1{
    float: left;
    margin-left: 25px;
    margin-top: 101px; 
}

#field_7f_1free{
    background-color: #ed7878;
    height: 18.2px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#field_7f_1reserved{
    background-color: #cccccc;
    height: 18.2px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;  
    display: flex;
    justify-content: center;
    align-items: center;
}




#tab_7f_2{
    float: left;
    margin-left: 41px;
    margin-top: 98px; 
}

#field_7f_2free{
    background-color: #ed7878;
    height: 18.42px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#field_7f_2reserved{
    background-color: #cccccc;
    height: 18.42px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;  
    display: flex;
    justify-content: center;
    align-items: center;
}




#tab_8f_1{
    float: left;
    margin-left: 19px;
    margin-top: 70px; 
}

#field_8f_1free{
    background-color: #76bcb8;
    height: 29px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#field_8f_1reserved{
    background-color: #cccccc;
    height: 29px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px; 
    display: flex;
    justify-content: center;
    align-items: center;
}




#tab_8f_2{
    float: left;
    margin-left: 30px;
    margin-top: 70px; 
}

#field_8f_2free{
    background-color: #76bcb8;
    height: 29px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
#field_8f_2reserved{
    background-color: #cccccc;
    height: 29px;
    width: 26px;
    border: solid black 1px;
    border-radius: 2px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip {
  position: relative;
  cursor: context-menu;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}