
.registrationClient {
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 330px;
}

.input_text {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
}

.input_submit {
    width: 100%;
    background-color: #9bbfdd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input_submit:hover {
    background-color: #3b78ab;
}

/*---input^^^---*/
