body{
    font-family: "Montserrat", sans-serif;
    background-image: url("../img/cruiser_pool_1920.jpg" );
    /*background-size: 100%;*/
    background-repeat: repeat-y;    
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;

}

#background{
    width: 90%;
    position: absolute;
    left: 0px;

}

#nbs a{
    text-decoration: none;
}

#nbs_p{
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 800;
}
#nbs_date_p{
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 600;
}

#nbs_tab{
    background: rgba(255,255,255,0.5);
    border: none;
    
}

